doctype html
html
  head
    title= titles
    script(type='text/javascript', src=scriptPath)
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
  body
    block content
