body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: black;
  color: white;
}

a {
  color: #00B7FF;
}

.left{
  position: relative;
  top: 0;
  float: left;
}

.right{
  position: relative;
  top: 0;
  float: right;
}

.clear_float{
  clear: both;
}
.task_container{
  display: flex;
  align-items: center;
  float: top;
  clear: top;
}
.task_list{
}
.task_text{
  min-width: 50vw;
  background-color: black;
  color:white;
}
.username_block{
  margin: 10px 10px;
}
.password_block{
  margin: 10px 10px;
}
.form_control{
  background-color: black;
  color: white;
}
.label{
  display: block;
  width: 100px;
}
.login_button{
  float: left;
  clear: both;
  background-color: black;
  color: white;
  margin: 20px 10px;
}
.login_block{
  float:left;
}
.tasks_dropdown{
  background-color: black;
  color: white;
}

div.done p{
  text-decoration: line-through;
  text-decoration-thickness: 2px;
  text-decoration-color: darkgrey;
}

.shown{

}
.hidden{
  display: none;
}

.error{
  color: darkred;
  text-decoration: underline;
}